/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
.navabar {
  margin-bottom: 10px;
}

.text-align-center {
  text-align: center;
}

.item-align-center {
  align-items: center;
  align-content: center;
  text-align: center;
}
