<nav
  class="navbar navbar-expand-lg fixed-top"
  style="background-color: #16519e"
>
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"
      >Pietro: Calculadora de Pagamentos</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/"
            >Início</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="#"
            >Sobre</a
          >
        </li>
      </ul>

      <button
        type="button"
        class="btn btn-success basicMargin"
        routerLink="login"
        *ngIf="!userLoginStatus"
      >
        Entrar
      </button>
      <button
        type="button"
        class="btn btn-info basicMargin"
        routerLink="login"
        *ngIf="userLoginStatus"
      >
        Painel de controle
      </button>
      <button
        type="button"
        class="btn btn-danger basicMargin"
        (click)="logout()"
        *ngIf="userLoginStatus"
      >
        Sair
      </button>
    </div>
  </div>
</nav>
